@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bright-cyan: #67e8f9;
    --cyan: #0e7490;
    --bright-blue: #3b82f6;
    --blue: #1d4ed8;
}

html {
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    background-image: linear-gradient(to bottom right, var(--cyan), var(--blue));
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    max-width: 1024px;
    margin-top: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 8rem;
    padding-right: 8rem;
}