@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: "Poppins", sans-serif;
    --yellow: #a16207;
    --orange: #c2410c;
    --bright-cyan: #67e8f9;
    --cyan: #0e7490;
    --bright-blue: #3b82f6;
    --blue: #1d4ed8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    max-width: 1024px;
    margin-top: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

@media only screen and (max-width: 599px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}